@use "sass:color";
@use '../variables' as *;

.product-card {
    background-color: transparent;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        bottom: 210px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 210px;
        z-index: -1;
        
        -webkit-mask-image: url('../assets/images/blob-shape.png');
        mask-image: url('../assets/images/blob-shape.png');
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
    }
    
    &--green::before {
        background-color: $bg-green;
    }
    &--blue::before {
        background-color: $bg-blue;
    }
    &--pink::before {
        background-color: $bg-pink;
    }
    &--beige::before {
        background-color: $bg-beige;
    }
    
    &__image {
        max-height: 180px;
        margin-bottom: 25px;
        transition: transform 0.4s ease;
        position: relative; 
        z-index: 2;
    }

    &__title {
        font-size: 22px;
        color: $color-text-dark;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 13px;
        color: $color-text-light;
        line-height: 1.5;
        margin-bottom: 30px;
        flex-grow: 2;
    }

    &:hover .product-card__image {
        transform: scale(1.1) translateY(-5px);
    }
}